<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Bimer Test Suite">
            <directory>tests</directory>
            <exclude>./tests/ResourceTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="BIMER_API_URL" value="api_url"/>
        <env name="BIMER_API_ID" value="client_id"/>
        <env name="BIMER_API_SECRET" value="client_secret"/>
        <env name="BIMER_API_USER" value="username"/>
        <env name="BIMER_API_PWD" value="password"/>
        <env name="BIMER_API_TIMEOUT" value="30"/>
        <env name="DATA_PERSON" value='{"cpfCnpj":"36.462.778/0001-60"}' />
        <env name="DATA_INCOME" value='{"CodigoEmpresa":"1","IdentificadorPessoa":"00A0000001","IdentificadorFormaPagamento":"00A0000001","CodigoEnderecoCobranca":"01","IdentificadorNaturezaLancamento":"00A0000001"}' />
        <env name="DATA_INCOME_BATCH" value='{"CodigoEmpresa":1,"LoteAReceberItemBaixa":[{"IdentificadorFormaPagamento":"00A0000001","IdentificadorTipoBaixa":"00A0000001","IdentificadorContaBancaria":"00A0000001"}]}' />
        <env name="DATA_ACCOUNT" value='{"description":"teste","id":"00A0000001"}' />
        <env name="DATA_AREA_TYPE" value='{"description":"RUA","id":"00A0000001"}' />
        <env name="DATA_ADDRESS" value='{"CEP":"22060020","IdentificadorBairro":"00A0000001","IdentificadorCidade":"00A0000001","IdentificadorTipoLogradouro":"00A0000001","SiglaUnidadeFederativa":"SP"}'/>
    </php>
</phpunit>
