<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Bimer Test Suite">
            <directory>tests</directory>
            <exclude>./tests/ResourceTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="BIMER_API_URL" value="api_url"/>
        <env name="BIMER_API_ID" value="client_id"/>
        <env name="BIMER_API_SECRET" value="client_secret"/>
        <env name="BIMER_API_USER" value="username"/>
        <env name="BIMER_API_PWD" value="password"/>
        <env name="BIMER_API_TIMEOUT" value="30"/>
        <env name="DATA" value='{"cpfCnpj":"36.462.778/0001-60"}' />
    </php>
</phpunit>
